.profile-avatar {
    &__small {
        height: 50px;
        width: 50px;
    }

    &__medium {
        height: 130px;
        width: 130px;
    }

    &__big {
        height: 200px;
        width: 200px;
    }

    &__input {
        display: none
    }

    &__label {
        height: inherit;
        width: inherit;
    }

    &__img {
        height: inherit;
        width: inherit;
        border-radius: 50%;
        cursor: pointer;
        object-fit: cover;

        &:hover {
            opacity: .8;
        }
    }
}