.button {
    padding: 10px 10px;
    color: white;
    background-color: $main;
    border-radius: 5px;
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    outline: 0px;
    border: 0px;
    margin: 0px;
    &__content {
        display: flex;
        gap: 4px;
    }
}