.input-chat {
        width: 100%;
        border-radius: 15px;
        border: none;
        background-color: $gray-light;
        height: 32px;

        &::placeholder {
            font-size: medium;
            padding-left: 10px;
        }
    }
