.popup {
    position: absolute;
    inset: 0;
    display: none;

    &__active {
        display: block;
    }

    &-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: $bg-overlay;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-content {
        border-radius: 12px;
        background: $white;
        box-shadow: 0 0 6px 0 $shadow;
        min-width: 340px;
        padding: 40px 30px;
        position: relative;
    }

    &-close {
        position: absolute;
        top: 10px;
        right: 15px;
    }

    &-title {
        color: $paper;
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 20px;
    }

    &-descr {
        color: $paper;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        text-decoration-line: underline;
        margin-bottom: 20px;
    }
}
