$main: #FF05C8;
$gray: #999;
$gray-light: #EFEFEF;
$link: #3369F3;
$chats-list: #FBFBFB;
$author-message: #E4EDFD;
$white: #fff;
$error: #F00;
$bg-overlay: rgb(0 0 0 / 50%);
$shadow: rgb(0 0 0 / 14%);
$paper: #1e1e1e;
