.message-card {
    padding: 10px;
    max-width: 40%;
    width: fit-content;

    &__is-author {
        background-color: $author-message;
        border-radius: 10px 10px 0;
    }

    &__is-opponent {
    background-color: $gray-light;
    border-radius: 0 10px 10px;
    }

    &__date {
        color: $gray;
        font-size: x-small;
    }

}

.message {
    width: 100%;
    display: flex;

    &__left {
        justify-content: flex-end;
    }

    &__right {
        justify-content: flex-start;
    }
}
