.chats-lists {
    background-color: $chats-list;
    border-right: 2px solid $gray-light;

    &__header {
        display: flex;
        align-items: center;
        padding: 0 10px;
        justify-content: space-between;
    }

    &__items {
        margin: 0;
        padding: 0;
    }

    &__profile {
        display: flex;
        align-items: center;
        text-decoration: none !important;

        &-arrow {
            padding: 5px;
        }
    }

    &__search {
        display: flex;
        justify-content: center;
        padding: 10px;
        border-bottom: 2px solid $gray-light;
    }
}
