.chat-item {
    border-bottom: 2px solid $gray-light;
    padding: 10px;
    display: flex;
    gap: 10px;
    height: 38px;

    &__content {
        width: 100%;

        &-header {
            display: flex;
            justify-content: space-between;

            &-title {
                font-weight: 600;
            }
        }
    }

    &:hover {
        background-color: $gray-light;
    }

    &:active {
        background-color: $chats-list;

    }
}
